#outer{
    height: 400px;
    width: 800px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: nowrap;
    /* by default no wrap */
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    /* wrap-reverse ---> according to cross axis */
    
}
.myClass{
    height: 50px;
    width: 300px;
    color: black;
}